.pillContainer {
  position: relative;
}

.focusedPill {
  /* list-style: none; */
}

.pill {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
}

.projectsBackground {
  background: #b7bdf7;
}

.experienceBackground {
  background: #eea38c;
}

.educationBackground {
  background: #e08e98;
  opacity: 0.93;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
  width: 135%;
  height: 135%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.8px);
  -webkit-backdrop-filter: blur(14.8px);
  border: 1px solid rgba(255, 255, 255, 0.06); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
