@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Montserrat+Alternates:wght@400;600&display=swap");

html,
body {
  margin: 0;
  font-family: "Comfortaa", "Montserrat Alternates";
}

body {
  margin: 16px 16px;
}

body ul {
  padding: 0;
  margin: 0;
}

.appContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 16px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(0deg, #e08e98a5 0%, #b7bdf7 100%);
  border-radius: 8px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
}

.languageList {
  color: rgb(198, 198, 198);
  position: fixed;
  list-style: none;
  display: flex;
}

.languageSpacer {
  margin: 0 4px;
}
